<%- include('./layouts/header.ejs')  %> 

    <!-- <div class="main">
        <div class="container first">
            <div class="card-profile flex">
                <div class="image">
                    <img src="/images/profile-image.jpg" width="150" height="250" alt="profile-image.jpg">
                </div>
                <div class="description">
                    <div class="name-position">
                        <p>Aenã Martinelli</p>
                        <p> Full stack Javascript Developer</p>
                    </div>
                    <div class="social-media">
                        <h3>Social:</h3>
                        <table>
                            <tr>
                                <td>
                                    <a href="https://github.com/Aenewsss">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png" />
                                    </a>
                                </td>
                                <td align="left">
                                    <a href="https://github.com/Aenewsss">
                                        Aenewsss
                                    </a>

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a href="https://www.linkedin.com/in/aen%C3%A3-eloi-martinelli/">
                                        <img src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png" />
                                    </a>
                                </td>
                                <td align="left">
                                    <a href="https://www.linkedin.com/in/aen%C3%A3-eloi-martinelli/">
                                        Aenã Martinelli
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <img src="https://img.icons8.com/windows/32/000000/gmail.png" />
                                </td>
                                <td align="left">
                                    aenamartinelli@gmail.com
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-profile block">
                <h3 class="subtitle">My knowledge</h3>
                <div class="tecs">
                    <ul>
                        <li>Javascript</li>
                        <li>Node</li>
                        <li>Express</li>
                        <li>MongoDB</li>
                        <li>React</li>
                        <li>HTML</li>
                    </ul>
                    <ul>
                        <li>Sass</li>
                        <li>CSS</li>
                        <li>Bulma</li>
                        <li>Bootstrap</li>
                        <li>GIT</li>
                        <li>Electron</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="projects">
                <h2>Projects</h2>
                <div id="carouselExampleControls" class="carousel slide" data-bs-slide=false>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <video controls src="/videos/ecommerce.mov"></video>
                            <div class="video-description">
                                <span>Ecommerce made from scratch <br>Tecs:&nbsp; express, node and mongoDB</span>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <video controls src="/videos/Notes.mov"></video>
                            <div class="video-description">
                                <span>Evernote Clone<br>Tecs:&nbsp; node, express, react & mongoDB</span>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <video controls src="/videos/RGB-HEX.mov"></video>
                            <div class="video-description">
                                <span>
                                    App to generate rgb & hex colors <br>Tecs:&nbsp;node & electron
                                </span>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <video controls src="/videos/exchange-rates.mov"></video>
                            <div class="video-description">
                                <span>
                                    exchange rates calculator<br>Tecs:&nbsp; node, express & bulma
                                </span>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <video controls src="/videos/STOP_GAME.mov"></video>
                            <div class="video-description">
                                <span>
                                    I create a STOP game to play with my wife!
                                    <br>Tecs:&nbsp; node, socket & react
                                </span>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <%- include('./profile.ejs')  %> 
    
    <%- include('./about.ejs')  %> 

    <%- include('./services.ejs')  %> 

    <%- include('./portfolio.ejs')  %> 

    <%- include('./contact.ejs')  %> 

<%- include('./layouts/footer.ejs')  %> 